# note: [gpg "ssh"] key will be added below by install.sh
[gpg]
	format = ssh
[commit]
	gpgsign = true
[user]
	name = "Carlos Valdez"
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEUAdElirnembH0YWNXg6hnLZ1AJJ1OyTACie/SFOO3/
[init]
	defaultBranch = main
